.footerdiv{
    min-height:20em;
    margin-top: 5%;
    display: grid;
    background-color: #0c0522;
    color: white;
}
.logo{
    height: 5em;
    width:10em;
}
.logo:hover{
    transform: scale(1.1);
    transition: transform 0.5s;
}
.logo:not(:hover){
    transform: scale(1);
    transition: transform 0.5s;
}
.middiv{
    display: flex;
    justify-content: space-around;
    margin-top: 2%;
}
.leftdiv{
    width: 25%;
    display: flex;
    flex-direction: column;
}
.icondiv{
    display: flex;
    justify-content: space-around;
    width:5em;
    
}
.rightdiv{
    width:65%;
    display: grid;
    grid-template-columns: repeat(4,1fr);
}
.rightdiv>div{
    display: flex;
    flex-direction: column;
    align-items:flex-start;
}
.rightdiv a{
    text-decoration: none;
    color: white;
}
.foot{
    align-self: flex-end;
    padding: 0.2em 0em 0.2em 2em ;
    color:white;
    background-color:black;
}


@media only screen and (min-width:320px)and(max-width:768px){
    .middiv{
        flex-direction:column;
    }
    .rightdiv{
        display: grid;
        grid-template-columns: repeat(1,1fr);

    }

}